.container {
    margin-top: 4rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    min-height: 300px;
}

.card {
    background-color: #d3d3ff;
    width: 320px !important;
}

.card-body {
    padding: 10px !important;
}

audio {
    width: 300px;
}

.button-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.button-group button {
    background: none;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: rgb(91, 91, 172);
    border-radius: 10px;
    padding: 0 10px;
}

.button-group button:hover {
    background-color: #b8b8ff;
}

form div input {
    background-color: #d3d3ff !important;
    outline: none;
}

form div input:focus {
    outline: none;
    border: none;
}

footer {
    background: #1A1E25;
    color: #a3aab4;
}

footer p {
    text-align: center;
    margin-bottom: 0;
    padding: 20px 0;
}

.loader {
    visibility: hidden;
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #3498db;
    width: 40px;
    height: 40px;
    margin: 10px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.submit-btn-holder {
    display: flex;
    align-items: center;
}

.on-load {
    color: white;
    background-color: #0d6efd;
    --ring-color: #65a3ff;
    font-weight: 500;
    border-radius: 0.5rem;
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2a323f;
}

.on-load svg {
    display: inline;
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.75rem;
    color: white;
    animation: bounce 1s infinite;
}

.simple-spinner {
    display: inline-block;
    visibility: hidden;
    width: 30px;
    height: 30px;
}

.simple-spinner span {
    display: block;
    width: 30px;
    height: 30px;
    border: 3px solid transparent;
    border-radius: 50%;
    border-right-color: rgba(255, 255, 255, 0.7);
    animation: spinner-anim 0.8s linear infinite;
}

@keyframes spinner-anim {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(-5px);
    }

    50% {
        transform: translateY(5px);
    }
}

@media only screen and (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 425px) {
    .name-artist {
        flex-direction: column;
        gap: 3px !important;
    }

    .name-artist div {
        width: 100% !important;
    }

    .container,
    .card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .submit-btn-holder {
        width: 100%;
        justify-content: space-between;
    }
}